@import url("https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
}
body{
    /* position: absolute; */
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, white, #fda2ba);
    background-size: 100% 100%;
    margin-left: -10px;
}

h1 {
    color: #8291ac;
    font-size: 1.2rem;
    font-weight: 300;
}
.content {
    height: 60%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
}
.wrapper {
    position: relative;
    width: 430px;
    margin: 120px auto;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 26px rgba(0, 0, 0, 0.13);
}
@media screen and (max-width: 750px) {
    .wrapper {
        width: 90%;
   }
}
@media screen and (max-width: 480px) {
    .wrapper {
        width: 100%;
   }
}
.registred {
    position: relative;
    width: 300px;
    height: 160px;
    background: #fff;
    display: none;
    margin: 15px auto;
    text-align: center;
}
.registred button {
    width: 90px;
    background: #fda2ba;
    border: none;
    border-radius: 5px;
    padding: 0px 15px;
    position: absolute;
    bottom: 18px;
    right: 18px;
    color: #fff;
}
.registred h1 {
    font-size: 1rem;
}
.login--content {
    display: none;
}
.register--content, .login--content {
    width: 300px;
    margin: 50px auto;
}
.floating-label {
    position: absolute;
    pointer-events: none;
    left: 0px;
    top: 20px;
    font-size: 16px;
    color: #b3bbce;
    transition: 0.2s ease all;
}
.email, .password, .name {
    position: relative;
    margin: 10px 0;
}
.inputText {
    font-size: 12px;
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: 1px solid #b3bbce;
    outline: none;
    color: #9390a1;
    font-weight: 900;
}
input:focus ~ .floating-label, input:not(:focus):valid ~ .floating-label {
    top: 2px;
    bottom: 10px;
    left: 0px;
    font-size: 11px;
    opacity: 1;
    color: #fda2ba;
}
.social {
    width: 100%;
    background: #3b5999;
    height: 40px;
    line-height: 35px;
    
    text-align: center;
    border-radius: 5px;
}
.social a {
    text-decoration: none;
    line-height: 45px;
    color: #fff;
}
.social span i {
    color: #fff;
    float: left;
    line-height: 45px;
    margin-left: 26px;
}
.via-email {
    text-align: center;
    padding: 20px 0;
    color: #8291ac;
}
input[type="submit"] , .register-buttton{
    width: 100%;
    position: relative;
    height: 40px;
    background-color: #fda2ba;
    color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    margin: 5px 0px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
    font-weight: 100;
}
.login--button {
    /* position: absolute; */
    /* top: -30px; */
    /* right: 0; */
    text-align: right;
}
.login--button a {
    background: #fda2ba;
    padding: 7px 14px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}
.register-buttton{
    background-color: blue;
  }